@import "tailwindcss";

:root {
  --background: hsl(0 0% 80%);
  --foreground: hsl(0 0% 5%);
}

@theme {
  --color-primary: hsl(0 0% 80%);
  --color-secondary: hsl(0 0% 90%);
  --color-tertiary: hsl(0 0% 100%);
  --color-clear: hsl(0 0% 5%);
  --color-muted: hsl(0 0% 30%);
  --color-accent1-primary: hsl(245 50% 50%);
  --color-accent1-hover: hsl(245 50% 75%);
  --color-accent2-primary: hsl(310 50% 50%);
  --color-accent2-hover: hsl(310 50% 75%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 95%);
    --color-primary: hsl(0 0% 0%);
    --color-secondary: hsl(0 0% 10%);
    --color-tertiary: hsl(0 0% 20%);
    --color-clear: hsl(0 0% 95%);
    --color-muted: hsl(0 0% 70%);
    --color-accent1-hover: hsl(245 50% 25%);
    --color-accent2-hover: hsl(310 50% 25%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
