@import "tailwindcss";

:root {
  --background: hsl(0 0% 90%);
  --foreground: hsl(0 0% 5%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 95%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
